hana:
  # optional: Install required packages to install SAP HANA (true by default)
  # If set to false, this packages must be installed before the formula
  # execution manually
  # install_packages: true

  # saptune solution to apply to all nodes ( by default nothing is applied)
  # you can also use this to a single node if need to differ. see hana2
  # Warning: only a unique solution can exist into a node.
  saptune_solution: 'HANA'

  # Specify the path to already extracted HANA platform installation media
  # This will have preference over hana installation media archive
  software_path: '/sapmedia/HANA/51052481'
  # Or specify the path to the hana installation media archive
  # If using hana sar archive, please also provide compatible version of sapcar executable
  # The archive will be extracted to path specified at hana_extract_dir (optional, by default /sapmedia_extract/HANA)
  # hana_extract_dir should be a new directory and seperate from location where the compressed files are present, to avoid conflicts in file permissions.
  hana_archive_file: '/sapmedia/51053492.ZIP'
  hana_extract_dir: '/sapmedia_extract/HANA'
  # The HANA Client sar archive is needed for monitoring if HANA DB sar archive is provided. It will be extracted to hana_client_extract_dir path (optional, by default /sapmedia_extract/HANA_CLIENT)
  hana_client_archive_file: '/sapmedia/IMDB_CLIENT20_003_144-80002090.SAR'
  hana_client_extract_dir: '/sapmedia_extract/HANA_CLIENT'
  #sapcar_exe_file: '/sapmedia/SAPCAR'

  # Enable HA cluster configuration. It installs the SAPHanaSR hook.
  # To use this option the primary and secondary nodes must be defined in the pillar file
  ha_enabled: true

  # optional: enables monitoring via hanadb_exporter (disabled by default)
  # the exporter will be installed and configured in all the nodes
  # you can customize the exporter configuration in each node in the dedicated sections below
  monitoring_enabled: true

  nodes:
    - host: 'hana01'
      sid: 'prd'
      instance: 00
      password: 'Qwerty1234'
      install:
        # Specify the path to local installation media here, otherwise global variable software_path will be used for installation media.
        # If both of these paths are not set, hana_extract_dir path will be used for installation media,
        # given that hana_archive_file package is also provided
        software_path: '/sapmedia/HANA/51052481'
        root_user: 'root'
        root_password: 's'
        # Fetch HANA passwords from XML file
        hdb_pwd_file: 'salt://passwords.xml'
        # Or specify HANA system & sapadm users' passwords like below
        system_user_password: 'Qwerty1234'
        sapadm_password: 'Qwerty1234'
      primary:
        name: NUREMBERG
        userkey:
          key_name: 'backupkey'
          environment: 'hana01:30013'
          user_name: 'SYSTEM'
          user_password: 'Qwerty1234'
          database: 'SYSTEMDB'
        backup:
          # Set key_name or user_name/user_password combination
          key_name: 'backupkey'
          # Or
          user_name: 'SYSTEM'
          user_password: 'Qwerty1234'
          database: 'SYSTEMDB'
          file: 'backup'
      # hanadb_exporter configuration
      # only applies when monitoring_enabled is true
      exporter:
        exposition_port: 9668 # Optional, 9668 by default
        multi_tenant: true # Enable the exporter as multi tenant. This will create the connection with the SYSTEMDB database and all tenants
        user: 'SYSTEM'
        password: 'Qwerty1234'
        #port: 30015 # HANA database port. If multi_tenant is set this value is 3XX13 by default where XX is the instance number
        timeout: 600 # Timeout in seconds to start the connection with HANA database
        # Set the path of the HANA Client folder, if it is not set, the node software_path will be used
        #hana_client_path: /hana_client_path

    - host: 'hana02'
      sid: 'prd'
      instance: 00
      password: 'Qwerty1234'
      saptune_solution: 'MAXDB'
      install:
        software_path: '/sapmedia/HANA/51052481'
        root_user: 'root'
        root_password: 's'
        system_user_password: 'Qwerty1234'
        sapadm_password: 'Qwerty1234'
      secondary:
        name: PRAGUE
        remote_host: 'hana01'
        remote_instance: '00'
        replication_mode: 'sync'
        operation_mode: 'logreplay'
        # For Active/Active HANA setup
        #operation_mode: 'logreplay_readaccess'
        # If primary node is not defined the password can we set here (primary node password has preference)
        #primary_password: 'Qwerty1234'
        # Optional timeout value in seconds to wait until the primary node
        # 100 seconds by default
        primary_timeout: 100
      scenario_type: 'cost-optimized'
      cost_optimized_parameters:
          global_allocation_limit: '32100'
          preload_column_tables: False

    - host: hana02
      sid: 'qas'
      instance: 01
      password: 'Qwerty1234'
      install:
        software_path: '/sapmedia/HANA/51052481'
        root_user: 'root'
        root_password: 's'
        system_user_password: 'Qwerty1234'
        sapadm_password: 'Qwerty1234'
      exporter:
        exposition_port: 9669 # Optional, 9668 by default
        user: 'SYSTEM'
        password: 'Qwerty1234'
