hana:
  # optional: Install required packages to install SAP HANA (true by default)
  # If set to false, this packages must be installed before the formula
  # execution manually
  # install_packages: true
  nodes:
    - host: 'hana01'
      sid: 'prd'
      instance: 00
      password: 'Qwerty1234'
      install:
        software_path: '/root/sap_inst/51052481'
        root_user: 'root'
        root_password: 's'
        system_user_password: 'Qwerty1234'
        sapadm_password: 'Qwerty1234'
      primary:
        name: NUREMBERG
        userkey:
          key_name: 'backupkey'
          environment: 'hana01:30013'
          user_name: 'SYSTEM'
          user_password: 'Qwerty1234'
          database: 'SYSTEMDB'
        backup:
          # Set key_name or user_name/user_password combination
          key_name: 'backupkey'
          # Or
          user_name: 'SYSTEM'
          user_password: 'Qwerty1234'
          database: 'SYSTEMDB'
          file: 'backup'

    - host: 'hana02'
      sid: 'prd'
      instance: 00
      password: 'Qwerty1234'
      install:
        software_path: '/root/sap_inst/51052481'
        root_user: 'root'
        root_password: 's'
        system_user_password: 'Qwerty1234'
        sapadm_password: 'Qwerty1234'
      secondary:
        name: PRAGUE
        remote_host: 'hana01'
        remote_instance: '00'
        replication_mode: 'sync'
        operation_mode: 'logreplay'
        # Optional timeout value in seconds to wait until the primary node
        # 100 seconds by default
        primary_timeout: 100

    - host: hana02
      sid: 'qas'
      instance: 01
      password: 'Qwerty1234'
      install:
        software_path: '/root/sap_inst/51052481'
        root_user: 'root'
        root_password: 's'
        system_user_password: 'Qwerty1234'
        sapadm_password: 'Qwerty1234'
