{# context is coming from exporter.sls #}
{
  "exposition_port": {{ exporter.exposition_port|default(9668) }},
  "multi_tenant": {{ exporter.multi_tenant|default(true)|tojson }},
  "timeout": {{exporter.timeout|default(600)}},
  "hana": {
    "host": "{{ grains['host'] }}",
    {% if exporter.multi_tenant|default(true) and exporter.port is not defined %}
    "port": 3{{ sap_instance_nr }}13,
    {% else %}
    "port": {{ exporter.port }},
    {% endif %}
    "user": "{{ exporter.user }}",
    "password": "{{ exporter.password }}"
  },
  "logging": {
    "config_file": "/etc/hanadb_exporter/logging_config.ini",
    "log_file": "/var/log/hanadb_exporter_{{ exporter_instance }}.log"
  }
}
